<div class="row pt-5 pb-5">
  <div class="col col-sm-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Search</h3>
      </div>
      <div class="card-body">
        <form class="form" #searchForm="ngForm">
          <div class="form-group">
              <div class="checkbox">
                  <label for=""><input type="checkbox" 
                                      [(ngModel)]="search_type1" 
                                      name="search_type1"> Job</label>
              </div>
              <div class="checkbox">
                  <label for=""><input type="checkbox" 
                                      [(ngModel)]="search_type2" 
                                      name="search_type2" > Internship</label>
              </div>
          </div>
          <div class="form-group">
              <label for="">Company name:</label>
              <input type="text" 
                    #CompanyName="ngModel" 
                    [(ngModel)]="searchData.Company_Name" 
                    name="company_name" 
                    class="form-control rounded-0" 
                    >
          </div>
          <div class="form-group">
              <label for="">Competition name:</label>
              <input type="text" 
                    #CompetitionName="ngModel" 
                    [(ngModel)]="searchData.Competition_Name" 
                    name="compentition_name" 
                    class="form-control rounded-0" 
                    >
          </div>
          <button (click)="search()" type="button" class="btn btn-success float-right">Search</button>
        </form>
      </div>
    </div>
    <div *ngIf='companiesData'>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Company name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let company of companiesData'>
              <td><a [routerLink]="['/company', company._id]" >{{company.Company_Name}}</a></td>
              <td>{{company.Address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf='competitionsData'>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Competition name</th>
                <th>Competition description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let competition of competitionsData'>
                <td *ngIf='!compareDates(competition.End)'><a [routerLink]="['/competition', competition._id]">{{competition.Competition_Name}}</a></td>
                <td *ngIf='!compareDates(competition.End)'>{{competition.Description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>